<div class="container bg-white">

  <div class="row p-3">

    <div class="col-md-12">
      <h6 class="text-center">Hecho por Eduardo May</h6>
    </div>
    <div class="col-md-12 mt-1">
      <h3 class="text-center">Calculadora</h3>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12 pl-3 pr-3">

      <form #formCalculator="ngForm" (submit)="calculator()">

        <div class="form-group">
          <label>Precio de la comida</label>
          <input type="number" class="form-control"
          name="priceFood" [(ngModel)]="priceFood"
          (change)="savePriceFood($event)">
        </div>

        <div class="form-group row">

          <div class="col-6 col-md-6">
            <label>Cantidad</label>
            <input type="number" class="form-control"
            name="cantOrderFood" [(ngModel)]="formValues.cantOrderFood"
            (change)="saveCantOrderFood($event)">
          </div>

          <div class="col-6 col-md-6">
            <div class="form-group">
              <label>Cantidad de refrescos</label>
              <input type="number" class="form-control"
              name="cantSoda" [(ngModel)]="formValues.cantSoda"
              (change)="saveCantSoda($event)">
            </div>
          </div>

        </div>

        <div class="form-group">
            <label>Monto</label>
            <input type="number" class="form-control"
            name="rode" [(ngModel)]="formValues.rode"
            (change)="change($event)">
          </div>

        <div class="form-group mt-4">

          <h3>Total a pagar <small>${{formValues.totalPrice | number: '.2-2'}}</small></h3>

        </div>

        <div class="form-group mb-4">

          <h3>Cambio <small>${{formValues.change | number: '.2-2'}}</small></h3>

        </div>

        <!-- guardar la orden -->
        <div class="form-group">

          <div class="row">

            <div class="col-6 pr-3 pl-3">
              <button type="submit" class="btn btn-outline-danger btn-block">Calcular</button>
            </div>

            <div class="col-6 pr-3 pl-3">
              <button type="submit" class="btn btn-outline-success btn-block" (click)="clear()">Limpiar</button>
            </div>

          </div>

        </div>

      </form>

    </div>

  </div>

</div>